@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <div class="card card-compact bg-base-100 w-96 shadow-xl">
  <figure>
    <img
      src="https://image.api.playstation.com/vulcan/ap/rnd/202009/3021/5ayReKkz8RaBVuTvrxgA3rvh.png"
      alt="Shoes" />
  </figure>
  <div class="card-body">
    <h2 class="card-title">Spiderman</h2>
    <p>Peter lives his life by the creed "With great power, there must also come great responsibility."</p>
    <div class="card-actions justify-end">
      <a class="btn btn-primary" href="/home/privacy">Chat Now!</a>
    </div>
  </div>
</div>
</div>


